.Heros-content
  background linear-gradient(to bottom, purple, pink)
  margin-top 15vh

.Heros-heading
  padding 0 space-normal space-normal
  color darkblue

.Heros-container
  padding space-normal




