.Hero
  background-image url('./../assets/home_hero_small.jpg')
  background-size cover
  background-position center
  background-repeat no-repeat
  height 85vh
  margin-top 15vh
  padding space-big 0
  display flex
  flex-direction column
  justify-content space-between
  align-items center

.Hero-heading
  text-align center
  text-transform uppercase

.Hero-title
  font-size main-heading
  margin-bottom space-small

.Hero-text
  font-weight bold

.Hero-actions
  width 60%
  text-transform uppercase
  display flex
  flex-direction column
  justify-content center
  align-items center

.Hero-button
  margin-bottom space-normal
  padding space-small
  width 100%

.Hero-link
  padding space-small
  text-align center
  text-decoration none
  width 100%


.LastNews-heading
  text-align center

.LastNews-footer
  padding space-normal

.LastNews-button
  font-weight bold
  padding space-small space-normal
  width 100%
  display block
  text-align center
  text-decoration none
  text-transform uppercase