.Hero
  background-image url('./../assets/home_hero_small.jpg')
  background-size cover
  background-position center
  background-repeat no-repeat
  height 85vh
  margin-top 15vh
  padding space-big 0
  display flex
  flex-direction column
  justify-content space-between
  align-items center

.Hero-heading
  text-align center
  text-transform uppercase

.Hero-title
  font-size main-heading
  margin-bottom space-small

.Hero-text
  font-weight bold

.Hero-actions
  width 60%
  max-width 15em
  text-transform uppercase
  display flex
  flex-direction column
  justify-content center
  align-items center

.Hero-button
  margin-bottom space-normal
  width 100%

.Hero-link
  text-align center
  text-decoration none
  width 100%

.LastNews
  background-color pink

.LastNews-heading
  text-align center

.LastNews-footer
  padding space-normal
  text-align center

.LastNews-button
  font-weight bold
  display block
  text-align center
  text-decoration none
  text-transform uppercase

.Explore
  background linear-gradient(to bottom, lightblue, white, lightblue)
  position relative

.Explore::before
  content ""
  background-image url("./../assets/home_explore_big.jpg")
  background-repeat no-repeat
  background-size 100% 35vh
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.Explore-heading
  padding-top 35vh
  text-align center

.Explore-text
  padding space-normal
  font-size font-normal
  line-height space-big
  text-align center

.Explore-footer
  padding space-normal 0
  text-align center

.Explore-button
  display inline-block
  text-decoration none

.Characters
  text-align center

.Characters-content
  padding 0 space-normal


.Buy
  background linear-gradient(to bottom, pink, white, pink)
  position relative
  text-align center

.Buy::before
  content ""
  background-image url("./../assets/home_buy.jpg")
  background-position center
  background-repeat no-repeat
  background-size 100% 50vh
  position absolute
  top 0
  left 0
  right 0
  bottom 0

.Buy-content
  height 20em
  padding 0 space-normal
  text-align center
  // background-image url("./../assets/home_widowmaker.png")
  // background-repeat no-repeat
  // background-position left top
  // background-size 65%
  display flex
  align-items flex-end
  position relative

.Buy-items
  margin 0 auto
  width 80%
  display flex
  justify-content center
  align-items center

.Buy-item:nth-child(2)
  padding 0 space-normal

.Buy-footer
  padding space-normal

.Buy-text
  color darkblue
  font-weight bold
  padding space-normal 0
  text-transform uppercase

.Buy-link
  display inline-block
  text-decoration none
  text-transform uppercase


.Social
  background-color black
  padding space-big 0
  text-align center

.Social-title
  color white
  font-size font-medium
  margin-bottom space-normal
  text-transform uppercase

.Social-list
  display flex
  justify-content space-around

.Social-icon
  border 1px solid gray
  border-radius 50%
  color gray
  display block
  font-size font-big
  font-weight bold
  padding .5em .8em
  text-decoration none


// @media only screen and (min-width: 480px)
//   .LastNews-button
//     display inline-block

//   .Buy::before
//     backgrond-size 100% 80vh



//   .Explore::before
//     background-size 100%
