.Header
  display flex
  justify-content space-between
  align-items center
  background-color darkblue
  position fixed
  top 0
  left 0
  right 0
  height 15vh
  padding 0 space-normal

.Logo
  flex-basis 15%