.Header
  background-color darkblue
  height 15vh
  padding 0 space-normal
  display flex
  justify-content space-between
  align-items center
  position fixed
  top 0
  left 0
  right 0
  z-index z-header

.Logo
  flex-basis 15%

.NewsList
  padding space-normal
  display grid
  grid-template-rows 1fr 1fr 1fr
  grid-gap space-normal

.News-photo
  position relative

.News-description
  background-color rgba(0,0,0, .5)
  color white
  padding space-normal
  text-transform uppercase
  position absolute
  bottom 0
  left 0
  right 0


.CharacterList
  display grid
  grid-template-columns repeat(4, 1fr)
  grid-gap space-normal
  padding space-big


.Character-photo
  background-color darkblue
  padding space-small
  border-radius 5px
  transform skew(-8deg)


.Footer
  background-color pink
  padding space-normal 0
  text-align center

.Footer > *:not(:last-child)
  margin-bottom space-normal

.Language
  background-color transparent
  border none
  color darkblue
  display inline-block
  font-size font-normal
  padding space-small space-normal

.Footer-logo
  margin auto
  width 40%

.Footer-list
  display flex
  flex-wrap wrap
  justify-content center

.Footer-item
  margin space-small

.Footer-link
  color darkblue
  display block
  text-decoration none
  text-transform uppercase

.Footer-copyright
  color darkblue

