.Header
  background-color darkblue
  height 15vh
  padding 0 space-normal
  display flex
  justify-content space-between
  align-items center
  position fixed
  top 0
  left 0
  right 0
  z-index z-header

.Logo
  flex-basis 15%

.NewsList
  padding space-normal
  display grid
  grid-template-rows 1fr 1fr 1fr
  grid-gap space-normal

.News-photo
  position relative

.News-description
  background-color rgba(0,0,0, .5)
  color white
  padding space-normal
  text-transform uppercase
  position absolute
  bottom 0
  left 0
  right 0