.btn-normal
  button(font-normal, black, white)

.btn-flat
  button(font-big, orange, transparent)

.btn-orange
  button(font-medium, white, orange)

.btn-blue
  button(font-normal, white, blue)

.title
  text-transform uppercase
  padding space-normal 0

.truncate
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
