// colors
blue = #01A5E2
darkblue = #2F3543
black = #101010
gray = #CBCBCB
orange = #FF9C00

// font-size
font-small = .8em
font-normal = 1em
font-medium = 1.2em
font-big = 1.5em
font-large = 2em
main-heading = 3em

// sizes
space-small = .5em
space-normal = 1em
space-medium = 1.5em
space-big = 2em

button(fontSize, fontColor, bgColor)
  border none
  font-size fontSize
  background-color bgColor
  color fontColor
