* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
ul,
figure,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.btn-normal {
  border: none;
  font-size: 1em;
  background-color: #fff;
  color: #101010;
}
.btn-flat {
  border: none;
  font-size: 1.5em;
  background-color: transparent;
  color: #ff9c00;
}
.btn-orange {
  border: none;
  font-size: 1.2em;
  background-color: #ff9c00;
  color: #fff;
}
.btn-blue {
  border: none;
  font-size: 1em;
  background-color: #01a5e2;
  color: #fff;
}
.title {
  text-transform: uppercase;
  padding: 1em 0;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Header {
  background-color: #2f3543;
  height: 15vh;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.Logo {
  flex-basis: 15%;
}
.NewsList {
  padding: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.News-photo {
  position: relative;
}
.News-description {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 1em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.Hero {
  background-image: url("./../assets/home_hero_small.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  margin-top: 15vh;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Hero-heading {
  text-align: center;
  text-transform: uppercase;
}
.Hero-title {
  font-size: 3em;
  margin-bottom: 0.5em;
}
.Hero-text {
  font-weight: bold;
}
.Hero-actions {
  width: 60%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Hero-button {
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
}
.Hero-link {
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.LastNews-heading {
  text-align: center;
}
.LastNews-footer {
  padding: 1em;
}
.LastNews-button {
  font-weight: bold;
  padding: 0.5em 1em;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
