* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
ul,
figure,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.btn-normal {
  background-color: #fff;
  border: none;
  color: #101010;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
}
.btn-flat {
  background-color: transparent;
  border: none;
  color: #ff9c00;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
}
.btn-orange {
  background-color: #ff9c00;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em;
}
.btn-blue {
  background-color: #01a5e2;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
}
.title {
  color: #2f3543;
  padding: 1em 0;
  text-transform: uppercase;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Header {
  background-color: #2f3543;
  height: 15vh;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.Logo {
  flex-basis: 15%;
}
.NewsList {
  padding: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.News-photo {
  position: relative;
}
.News-description {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 1em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.CharacterList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 2em;
}
.Character-photo {
  background-color: #2f3543;
  padding: 0.5em;
  border-radius: 5px;
  transform: skew(-8deg);
}
.Hero {
  background-image: url("./../assets/home_hero_small.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  margin-top: 15vh;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Hero-heading {
  text-align: center;
  text-transform: uppercase;
}
.Hero-title {
  font-size: 3em;
  margin-bottom: 0.5em;
}
.Hero-text {
  font-weight: bold;
}
.Hero-actions {
  width: 60%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Hero-button {
  margin-bottom: 1em;
  width: 100%;
}
.Hero-link {
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.LastNews {
  background-color: #fbe7e9;
}
.LastNews-heading {
  text-align: center;
}
.LastNews-footer {
  padding: 1em;
}
.LastNews-button {
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.Explore {
  background: linear-gradient(to bottom, #add8e6, #fff, #add8e6);
  position: relative;
}
.Explore::before {
  content: "";
  background-image: url("./../assets/home_explore_big.jpg");
  background-repeat: no-repeat;
  background-size: 100% 35vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Explore-heading {
  padding-top: 35vh;
  text-align: center;
}
.Explore-text {
  padding: 1em;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
}
.Explore-footer {
  padding: 1em 0;
  text-align: center;
}
.Explore-button {
  display: inline-block;
  text-decoration: none;
}
.Characters {
  text-align: center;
}
.Characters-content {
  padding: 0 1em;
}
.Buy {
  background: linear-gradient(to bottom, #fbe7e9, #fff, #fbe7e9);
  position: relative;
  text-align: center;
}
.Buy::before {
  content: "";
  background-image: url("./../assets/home_buy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 50vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.Buy-content {
  height: 20em;
  padding: 0 1em;
  text-align: center;
  background-image: url("./../assets/home_widowmaker.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.Buy-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Buy-item:nth-child(2) {
  padding: 0 1em;
}
.Buy-footer {
  padding: 1em;
}
.Buy-text {
  color: #2f3543;
  font-weight: bold;
  padding: 1em 0;
  text-transform: uppercase;
}
.Buy-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
